.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
    padding: 0 30px;

    @media (min-width: 769px) {
        height: 68px;
        padding: 0 50px;
    }
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 8px;

    img {
        height: 25px;
        margin-right: 4px;
    }

    span {
        font-weight: 100;
        font-size: 20px;
    }
}